/*
 *  Styles for the header of all pages
 */

/* Header */
.header {
    width: 100%;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    /*grid-template-rows: ;*/
    z-index: 2;
}
/* container with nav in <header> */
.nav_container {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 100%;
}
/* directly <nav> */
.nav {
    width: 100%;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-columns: 45% 1fr 45%;

    height: 44px;
    border-bottom: 1px solid #57AB60;
    border-radius: 0 0 22px 22px;
    font-size: 18px;
}
/* container with list of links */
.nav_links {
    height: 31px;
    display: flex;
    justify-content: space-around;
    margin-top:6px;
    max-width: 390px;
    width: 100%;
    align-items: center;
}
.nav_links > ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
}
/* logo container */
.nav_logo {
    text-align: center;
}
.nav_logo > img {
    width: 45px;
}
/* Animation for links */
.nav_links > a:hover {
    transition: 0.1s;
    border-bottom: white 3px solid;
}
.nav_links > ul > li > ul {
    padding: 0;
}
/* Hamburger-menu */
.hamburger_container {
    display: none;
    margin-top: 6px;
}
.hamburger {
    background: none;
    border: none;
}
/* In development */
.nav_theme_button {
    padding: 0;
    width: 34px;
    height: 32px;
    background: none;
    border:none;
}
#menu_item_categories:hover {

}
.scroll_menu_item_hidden {
    padding: 8px;
    z-index: 1;
    display: none;
    height: 100px;

    background: #57AB60;
    border-radius: 0 0 10px 10px;
}
.scroll_menu_item_hidden > ul > li {
    cursor:pointer;
    border-bottom: 3px solid #57AB60;
}
.scroll_menu_item_hidden > ul > li:hover {
    transition: 0.5s;
    border-bottom-color: white;
}
.scroll_menu_item_hidden > ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    overflow: hidden;
}
.scroll_menu_hover {
    /*
    position: relative;
    left: -90px;
    display: flex;
    border: none;
    border-radius: 10px;
    height: 4px;
    width: 88px;
    background: white;
    */
}

/* Media for screens with width > 1280px */
@media (min-width: 1280px) {
    /* Hide hamburger */
    .hamburger_container {
        display: none;
    }
}

/* Media for laptops */
@media (max-width: 1280px) and (min-width: 769px) {
    /* Hide hamburger */
    .hamburger_container {
        display: none;
    }
    /* Remove unnecessary padding */
    .nav_links {
        padding: 0;
    }
}

/* Media for tablets*/
@media (max-width: 768px) and (min-width: 720px) {
    /* Show hamburger */
    .hamburger_container {
        display: block!important;
    }
    /* Replace Logo to the right */
    .nav_logo {
        grid-column-start: 3!important;
        justify-content: right!important;
        align-items: flex-start!important;
        text-align: right!important;
    }
}

/* Media for small tablets and mobiles */
@media (max-width: 720px) and (min-width: 320px) {
    /* Replace Logo to the right */
    .nav_logo {
        grid-column-start: 3!important;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .nav_logo > img {
        display: block;
        margin: 0 5px 0 5px;
    }
    /* Rework navigation's grid */
    .nav_container {
        grid-template-columns: 1fr;
    }
    .nav {
        width: inherit;
    }
    /* Rework banner from circle to square */
    .main_banner {
        max-width: 338px !important;
        width: 100% !important;
    }
    .main_banner_container {
        width: 300px!important;
    }
    /* Text should be smaller */
    .main_banner > p {
        font-size: 18px;
        line-height: 32px;
    }
    /* Remove footer from the page */
    footer {
        display: none!important;
    }
}