/*
 *  Styles for passwords.html page
 */

/* laptops ( 1280 px - 768 px ) */
@media (max-width: 1280px) and (min-width: 769px) {

    main {
        max-height: 1100px;
        height: 100%!important;
    }
    .main {
        height: 900px!important;
    }
    .hamburger_container {
        display: none;
    }
    .header {
        background: #287730;
    }
    .nav {
        border: none!important;
    }
    .main_passwords {
        grid-template-columns:200px 200px;
        grid-template-rows: 180px 180px 180px 180px;
    }
    .password_container:nth-child(1) {
        grid-row-start: 1;
        grid-column-start: 1;
    }
    .password_container:nth-child(2) {
        grid-row-start: 2;
        grid-column-start: 2;
    }
}

/* tablets ( 768 px - 720 px ) */
@media (max-width: 768px) and (min-width: 721px) {

    .main {
        height: 900px!important;
    }
    .hamburger_container {
        display: block!important;
    }
    .nav_links {
        display: none!important;
    }
    .nav {
        justify-content: space-between!important;
        border: none!important;
    }
    main {
        max-height: 1100px;
        height: 100%!important;
    }
    .header {
        background: #287730;
    }
    .main_form {
        padding: 12px;
    }
}

/* small tablets and phones */
@media (max-width: 720px) and (min-width: 320px) {

    .main {
        height: 900px!important;
    }
    main {
        background: rgba(172, 211, 176, 1);
        height: 100vh;
    }

}