/*
 *  Styles for content of pages
 */

/* Font */
@font-face {
    font-family:Roboto regular;
    src: url("../media/fonts/Roboto/Roboto-regular.ttf");
}
/* Remove unnecessary margin */
* {
    margin: 0;
}
/* Remove text decoration from links... */
a {
    text-decoration: none;
}
/* ... and marks from unordered lists */
ul {
    list-style: none;
}

/* Centering content of sections */
.content {
    max-width: 950px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* Centering header content */
header {
    position: fixed;
    display: flex;
    justify-content: center;
}
/* Making <main> a grid with a nice background picture */
main {
    grid-row-start: 1;
    background-image: url("../media/page background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 93vh;
}
/* Bad margins */
.main_banner_container {
    margin: 0 0 0 0;
}
/* Main banner is a circle in homepage */
.main_banner {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 620px;
    height: 620px;
    border-radius: 310px;
    box-shadow: 6px -2px 20px 0 rgba(0,0,0,0.3);
    text-align: center;
    line-height: 28px;
    font-size: 22px;
}
/* Paragraph wasn't in the circle so i put it in */
.main_banner > p {
    width: 450px;
}
/* Big red button saying "Get started!" */
.main_banner_button {
    width: 240px;
    height: 50px;
    border: 5px solid rgb(177 46 39);
    border-radius: 30px;
    font-size: 20px;
}
/* Some animation for button */
.main_banner_button:hover {
    cursor: pointer;
}
.main_banner_button:active {
    background: white;
    color: rgba(255, 13, 0, 1);
}

/* Contains form */
.main_form_container {
}
/* Directly form */
.main_form {
    margin: 20px 0 20px 0;
    padding: 40px;
    width: 530px;
    max-height: 700px;
    border: 5px solid #57AB60;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* Form's field */
.main_form_item {
    list-style: none;
    font-size: 28px;
    display: flex;
    justify-content: center;
}
/* Field's container */
.main_form_fields {
}
/* Select that differs from inputs because of size */
.form_select {
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
    width: 360px;
    height: 36px;
    border: 3px solid #57AB60;
    border-radius: 30px;
}
/* Round inputs */
.form_input {
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
    width: 334px;
    height: 30px;
    border: 3px solid #57AB60;
    border-radius: 30px;
}
/* Button for editing... */
.edit_button {
    background: none;
    border: none;
    padding: 0;
    width: 28px;
    height: 28px;
}
/* ...and animation for it */
.edit_button:active {
    transition: 0.1s;
    border: 2px solid #287730;
}
.user_info > ul > li {
    margin: 0 0 20px 0;
}

/* flexbox classes just like bootstrap's! */
.align-center {
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.flex-left {
    display: flex;
    justify-content: left;
}
.flex-right {
    display: flex;
    justify-content: right;
}
.flex-around {
    display: flex;
    justify-content: space-around;
}
.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
/* flexbox classes */

/* background color styles */
.background_green {
    background: #287730;
}
.background_white {
    background:white ;
}
.background_red {
    background:rgb(177 46 39);
}
/* background color styles */

/* text color styles */
.text_black {
    color: black;
}
.text_white {
    color: white;
}
.text_red {
    color: rgba(255, 13, 0, 1);
}
/* text color styles */

/* font styles */
.roboto-regular {
    font-family: Roboto regular, serif;
}
.roboto-regular-main {
    font-family: Roboto regular, serif;
    font-size: 20px;
}
/* font styles */

/* Media for big screens */
@media (min-width: 1920px) {
    .hamburger_container {
        display: none;
    }
}

/* laptops ( 1280 px - 768 px ) */
@media (max-width: 1280px) and (min-width: 769px) {

    .main {
        height: 900px!important;
    }
    .hamburger_container {
        display: none;
    }
    .header {
        background: #287730;
    }
}

/* tablets ( 768 px - 720 px ) */
@media (max-width: 768px) and (min-width: 720px) {

    .main {
        height: 900px!important;
    }
    .hamburger_container {
        display: block!important;
    }
    .nav_links {
        display: none!important;
    }
    .nav {
        justify-content: space-between!important;
    }
    main {
        max-height: 860px;
    }
    .header {
        background: #287730;
    }
    .main_form {
        padding: 12px;
    }
}

/* small tablets and phones */
@media (max-width: 720px) and (min-width: 320px) {

    .main_form_item {
        margin: 0 0 30px 0;
    }
    .main_form_item > h1 {
        font-size: 34px!important;
    }
    .main_registration_container {
        margin: 0 0 0 0;
    }
    .main_form {
        padding: 12px;
        z-index: 1;
        max-height: 720px;
        border-radius: 10px;
        border: none;
        width: 270px;
    }
    .form_select {
        max-width: 276px;
    }
    .form_input {
        width: 250px;
    }
    .form_input, .form_select {
        font-size: 14pt;
    }
    .main {
        height: 900px!important;
    }
    main {
        background: rgba(172, 211, 176, 1);
        height: 100vh;
    }
    main > section {
        margin: 0!important;
    }
    .nav_links {
        display: none!important;
    }
    .nav {
        justify-content: space-between!important;
    }
    .header {
        background: #287730;
    }
    .main_banner {
        border-radius: 0;
        height: 500px;
    }
    .main_banner > p {
        max-width: 70%;
    }
    .hamburger_container {
        display: block!important;
    }
}